.main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;
  background-color: grey;
}

.holder{
  padding: 10px;
  background-color: brown;
}

.clock {
  font-size: 50px;
  font-family: monospace;
  color: green;
  background-color: black;
  width: 240px;
  padding: 5px;
}
