.keyboard {
  display: flex;
  justify-content: center;
}

.key {
  height: 200px;
  width: 60px;
  border: 1px solid black;
  box-shadow: 0 10px 2px 0 grey;
  border-radius: 5px;

}

.note-name {
  text-align: center;
  font-size: 20px;
  margin-left: auto;
  margin-top: 170px;
}

h1 {
  text-align: center;
}
