.holder {
  display: flex;
  justify-content: space-around;
}

.row {
  display: flex;
  justify-content: space-between;
}

.game {
  width: 240px;
  height: 240px;
  text-align: center;
}

.tile {
  text-align: center;
  background-color: lightgrey;
  width: 20px;
  height: 20px;

  border-style: outset;
  border-width: 2px;
  line-height: 20px;
  padding-left: 3px;
}

.value {
  /*visibility: hidden;*/
}

p {
  line-height: 1;
  font-size: 14px;
}
