.holder {
  display: flex;
  justify-content: space-around;
}

.row {
  display: flex;
  justify-content: space-between;
}

.game {
  width: 243px;
  height: 243px;
  margin: 0 auto;
  text-align: center;
}

.tile {
  text-align: center;
  background-color: lightgrey;
  width: 20px;
  height: 20px;
  float: left;
  border-style: outset;
  border-width: 2px;
  line-height: 20px;
  padding-left: 3px;
  font-size: 14px;
  color: red;
}

.revealed {
  text-align: center;
  background-color: lightgrey;
  width: 20px;
  height: 20px;
  border-style: inset;
  border-width: 2px;
  line-height: 20px;
  padding-left: 2px;
  font-size: 14px;
  font-weight: bold;
}

.revealed {

}

.hidden {
  visibility: hidden;
}

.flagged {
  color: red;
  visibility: hidden;
  background-image: '\u2691'
}

p {
  line-height: 1;
  font-size: 14px;
}
